*.iml
/.idea
*.ipr
*.iws
*.log
.DS_Store
.classpath
.settings
.project
target
pom.xml.releaseBackup
release.properties
*~
temp-testng-customsuite.xml
test-output
.externalToolBuilders
server/logs
runtime
logs
